AGENTWORLD_MASTER_KEY=
AGENTWORLD_DEFAULT_RUNTIME=http://127.0.0.1:4096
AGENTWORLD_PUBLIC_BASE_URL=http://localhost:3002
CODE_PLATFORM_TOKEN=
CODE_PLATFORM_WEBHOOK_SECRET=
OPENVIKING_BASE_URL=http://127.0.0.1:1933
OPENVIKING_API_KEY=
OPENVIKING_PORT=1933
OPENVIKING_CONFIG_FILE=data/openviking/ov.conf
